:root{
    --maincolor:#15202B;
    --secondarycolour:#192734;

    --bordercolor:#164D56;


    --mainText:#fff;
    --secondarytext:#eeeeee;

    --themedotborder:#FFF;
    --previewBg:rgb(25, 39, 52, 0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;
}