:root{
    --maincolor:#606B56;
    --secondarycolour:#515a48;

    --bordercolor:#161914;


    --mainText:#fff;
    --secondarytext:#eeeeee;

    --themedotborder:#FFF;
    --previewBg:rgb(81, 90, 72, 0.8);
    --previewShadow:#2a2f25;

    --buttonColor:#669966;
}